<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>개발자들</title>
        <link rel="stylesheet" href="../../static/css/board.css">
        <link rel="stylesheet" th:href="@{/css/board.css}">
    </head>
    <body>
        <nav th:replace="fragment/nav"></nav>

        <div class="none_center">
            <h3 th:text="${ categoryName }"></h3>
            <hr>
        </div>

        <form name="searchForm" method="GET">
            <p>
                <select name="searchType">
                    <option value="searchAll">전체검색</option>
                    <option value="searchTitle">제목</option>
                    <option value="searchWriter">작성자</option>
                    <option value="searchMemo">내용</option>
                </select>
                <input class="searchText" type="text" name="searchText">
                <input class="search" type="submit" value="검색">
            </p>
        </form>

        <div class="middle">
            <table>
                <thead>
                    <tr>
                        <th class="number">번호</th>
                        <th class="title">제목</th>
                        <th class="writer">작성자</th>
                        <th class="date">작성일</th>
                    </tr>
                </thead>
                <tbody>
                <tr th:each="post : ${postList}">
                    <td th:text="${post.id}">번호</td>
                    <td th:text="${post.title}">제목</td>
                    <td th:text="${post.writer}">작성자</td>
                    <td th:text="${#temporals.format(post.createDate, 'yyyy-MM-dd HH:mm')}">작성일</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="middle"><button type="submit" th:onclick="|location.href='@{/post/write}'|">글쓰기</button></div>

        <footer th:replace="fragment/footer"></footer>

    </body>
</html>