* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.menu {
    height: 130px;
    background: #d86c6c;
    text-align: center;
}

nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9;
}

nav ul li {
    margin-top: 60px;
    display: inline-block;
}

nav ul li a {
    position: relative;
    color: white;
    font-size: 16pt;
    font-weight: 500;
    text-transform: uppercase;
}

.nav01, .nav02, .nav03, .nav04 {
    padding-right: 60px;
}

.logo {
    width: 220px;
    height: 100px;
    position: absolute;
    top: 17px;
    left: 12%;
}

.img01 {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50px;
    right: 16%;
}

.img02 {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50px;
    right: 12%;
}

.img03 {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50px;
    right: 20%;
}

.menu ul li a::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: white;
    transition: width .3s;
}

.menu ul li a:hover:after {
    width: 100%;
    transition: width .3s;
} /*처음부터 여기까지가 메뉴바 css*/

.div {
    text-align:center;
} /*화면 크기에 따라 표 움직임*/

h3 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 28pt;
    color: #d86c6c
}

hr {
    border : 3px solid #d86c6c
}

.none_center h3 {
    margin-left: 10vw;
    margin-right: 10vw;
} /*회원가입 오른쪽으로 밀기*/

.none_center hr {
    margin-left: 8vw;
    margin-right: 8vw;
} /*선 길이 줄이기*/

form {
    position: absolute;
    right: 400px;
    top: 230px;
}

.search {
    margin-top: 20px;
    padding: 10px;
    color: white;
    background-color: #a2a2a2;
    border: none;
    transition: 400ms ease all
}

.search:hover {
    background-color: #d86c6c;
}

.middle {
    display: flex;
    justify-content: center;
    align-items: center;
} /*여기까지가 페이지 내 검색 css*/

table {
    margin-top: 40pt;
    display: inline-block;
    border-collapse: collapse;
}

td, th {
    padding: 10px;
    height: 40px;
    border-bottom: 2px solid #7f7f7f;;
}

.top {
    border-top: 2px solid #7f7f7f;;
}

.deco {
    width: 150px;
    text-align: center;
    background-color: #D5D5D5;
    font-size: 15pt;
}

.len {
    width: 850px;
}

.change:hover {
    cursor: pointer;
    color: cornflowerblue;
}

.view_content { 
    width: 1000px;
    max-height: 2000px;
    overflow: auto;
}

.button {
    text-align: center;
    width: 90px;
    height: 60px;
    color: white;
    background-color: #d86c6c;
    border: none;
    font-size: 15pt;
    margin-top: 75px;
}

.button:hover {
    color: #d86c6c;
    background-color: white;
    border: 4px solid #d86c6c;
}

.foot_hr {
    border: 1px solid #a2a2a2;
}

footer p {
    margin-left: 8%;
    color: #7f7f7f;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: 10px;
    height: 70px;
}

body {
    padding-top: 130px;
    padding-bottom: 100px;
}

html {
    position: relative;
    min-height: 100%;
    margin: 0;
}

.detail_content {
    display: block;
    width: 100%;
    height: 500px;
    margin: 10px auto;
    padding: 20px 15px;
    border: none;
    border-top: 1px #D76C6C solid;
}

.inner {
    display: table-cell;
    position: relative;
    z-index: 10;
    vertical-align: bottom;
    padding: 15px 15px;
}

.category {
    display: block;
    max-width: 1080px;
    margin: 0 auto 13px;
    font-size: 0.875em;
    color: #000;
}

h1 {
    max-width: 1080px;
    margin: 0 auto;
    font-weight: 300;
    font-size: 2.125em;
    line-height: 1.2352;
    color: #000;
}

a {
    text-decoration: none;
    color: #fff;
}

.meta {
    display: block;
    max-width: 1080px;
    margin: 34px auto 0;
    font-size: 0.875em;
    color: rgba(0,0,0,0.6);
}
.meta a {
    color: rgba(0,0,0,0.6);
}
.meta a:before,
.meta span:before {
    content: "";
    display: inline-block;
    width: 2px;
    height: 2px;
    margin: 0 8px 0 4px;
    background-color: rgba(255,255,255,0.6);
    vertical-align: middle;
}
.meta span:first-child:before {
    content: none;
}

.tc {
    margin: 15px auto;
    padding-top: 15px;
    width: 60%;
}