<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>개발자들</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
    <body>
    <nav th:replace="fragment/nav"></nav>

    <img class="school" th:src="@{/image/skhu.png}">
    <div class="txt" th:text="'Welcome ' + ${memberDto == null ? 'Guest' : memberDto.getName()}"></div>
    <div th:if="${memberDto == null}">
        <a th:href="@{/login}">
            <button type="button">LOGIN</button>
        </a>
    </div>
    <footer th:replace="fragment/footer"></footer>

<!--        <script src="main.js"></script>-->
</body>
</html>